.container {
    outline: red;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;



}

*{
    text-decoration: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none
}

.header{
    width: 100%;
}


.menu-list {
    display: flex;
    gap: 55px;
    font-family: 'Montserrat';
    margin-right: 40px;
;
}


.section-title {
    font-family: 'Roboto Slab';
}

.section-img {
    height: 400px;
    width: 500px;
    padding-top: 15px;
}

.logo{
    margin-left: 40px;
    font-size: 40px;
}


.header-flex{
    align-items: center;
    display: flex;
    justify-content: space-between;
    max-width: 1250px;
    width: 100%;
    margin: 0 auto;
    padding-left: 25px;
    padding-right: 25px;
}


.menu-link{
    font-size: 26px;
    color: #7e575d;
    font-family: 'Pacifico', cursive;
}

.menu-link:hover{
    color: #b8999f;
    border-bottom: 2px solid #b8999f;
}

#toggle {
    display: none;
}

#toggle:checked~nav {
    top: 80px;
    opacity: 1;
}

.toggle_btn {
    display: none;
}

.toggle_btn span {
    display: block;
    height: 2px;
    width: 30px;
    background: #95E1D3;
    position: absolute;
    top: calc(50% - 1px);
}

.toggle_btn span::before {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background: #95E1D3;
    position: absolute;
    top: -8px;
}

.toggle_btn span::after {
    content: '';
    display: block;
    height: 2px;
    width: 30px;
    background: #95E1D3;
    position: absolute;
    top: 8px;
}

.menu-link {
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    transition: all 0.3s;
}

.menu-link:hover {
    color: #b8999f;
    border-bottom: 3px solid #b8999f;
}

@media (max-width: 768px) {
    .toggle_btn {
        display: block;
        width: 30px;
        height: 25px;
        position: relative;
    }

    nav {
        position: absolute;
        width: 100%;
        top: -100%;
        opacity: 0;
        left: 0;
        background: #fff;
        box-shadow: 0 16px 15px #888;
        padding-bottom: 30px;
        transition: top .3s, opacity .3s;
    }

    .menu-list {
        flex-direction: column;
        align-items: center;
    }
}

.section-list {
    margin-top: 50px;

}



.card {
    display: flex;
    gap: 10px;
    margin: 0 auto;
}

.card.flex-start-aligned img {
    align-self: flex-start;
}

.section-text {
    font-family: 'Playfair Display';
    width: 400px;
    font-size: 23px;
    line-height: 1.23;
    margin-top: 15px;
    margin-bottom: 15px;


}

.section-list-one {
    padding-top: 25px;

}

.pathc-2 {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.menu-list {
    display: flex;
    gap: 55px;
    font-family: 'Montserrat';
    margin-right: 40px;
    text-decoration: none;
    list-style: none;
}

.paragraph{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 0.82;
    color: #333333;
    display: flex;
    justify-content: center;
    margin-top: 15px;    
}

.section-descriptions{
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 14px;
    line-height: 0.82;
    color: #333333;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}    

.path-1{
    display: flex;
    justify-content: center;
}

.section-title {
    font-family: 'Roboto Slab';
}

.section-price{
 padding-top: 30px;
 margin-bottom: 15px;
}

.price-text{
    font-family: 'Playfair Display';
    width: 400px;
    font-size: 23px;
    line-height: 1.23;
  
}

.path-2{
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Playfair Display';
    width: 400px;
    font-size: 23px;
    line-height: 1.23;
    margin-bottom: 15px;   
}
.footer-list{
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-size: 14px;
    line-height: 17px;
    padding-bottom: 10px;
    transition: all 0.3s;
}

.section-one{
    width: 100%;
    text-align: center;
}